.greetings{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.row{
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1{
    width: 55%;
    font-size: xx-large;
}

.col1 h1{
    margin-bottom: 10px;
}

.col1 h1 span{
    background-color: var(--highlight);
    color: var(--background-color);
}

.col1 span{
    color: var(--highlight);
}

.col1 p{
    font-size: medium;
    margin-bottom: 20px;
}

.col1 p:nth-child(4){
    font-size: large;
}

.btn{
    border: 1px solid var(--primary-text-dark);
    padding: 20px 10px;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.btn a{
    color: var(--primary-text-dark);
    text-decoration: none;
    font-size: large;
    display: block;
}

.btn:hover{
    background-color: var(--primary-text-dark);
    cursor: pointer;
}

.btn:hover a{
    color: var(--surface);
}

.col2{
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
}

.col2 img{
    width: 350px;
    height: 350px;
    border: 10px solid var(--surface);
    border-radius: 175px;
    transition: 0.5s;
}

.col2 img:hover{
    border: 20px solid var(--surface);
}

@media (max-width: 768px){
    .row{
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        min-height: auto;
    }

    .col1{
        order: 2;
        font-size: small;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .col1 p{
        font-size: small;
    }

    .col1 p:nth-child(4){
        font-size: medium;
        text-align: justify;
    }

    .col2{
        order: 1;
    }

    .col2{
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .col2 img{
        width: 300px;
        height: 300px;
        margin: 20px 0;
    }
}