nav{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--surface);
    border: 1px solid var(--border);
    padding: 5px;
    border-radius: 30px;
}

.nav-logo{
    width: 200px;
    background-color: var(--accent);
    border-radius: 30px;
}

.nav-logo h1{
    padding: 10px 25px;
    text-align: center;
    color: var(--primary-text-dark);
    font-size: x-large;
}

.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.nav-links ul li{
    list-style: none;
    padding: 15px 25px;
    transition: 0.5s;
    border-radius: 30px;
}

.nav-links ul li:hover{
    background-color: var(--accent);
    color: var(--primary-text-dark);
    cursor: pointer;
}

.nav-links ul li a {
    display: block;
    text-decoration: none;
    color: var(--primary-text-dark);
}

/* .nav-links ul li:hover a{
    color: white;
} */

.theme{
    width: 63px;
    height: 63px;
    border-radius: 30px;
    background-color: var(--surface);
    border: 1px solid var(--border);
}