@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --background-color: #051F20;
  --surface: #0B2B26;
  --primary-text-dark: #DAF1DE;
  --secondary-text-dark: #F5F7FA;
  --accent: #163832;
  --border: #235347;
  --font-heading: 'Momo Trust Display', sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-heading);
  font-optical-sizing: auto;
}

body{
  background-color: var(--background-color);
  font-family: var(--font-body);
  color: var(--primary-text-dark);
}